// FOOTER::START
.footer
  .container
    .footer__wrapper
      .footer__socials
        a(href='#')
          i.ico.ico-social-fb
        a(href='#')
          i.ico.ico-social-tw

      .footer__menu
        a(href='#').hoverable-dash Privacy
        a(href='#').hoverable-dash Contact
        a(href='#').hoverable-dash Mission
        a(href='#').hoverable-dash Sign In
        a(href='#').hoverable-dash Register
          
      .footer__copy © 2017 Messly Ltd

// SCRIPTS

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src='components/slick-carousel/slick/slick.min.js')
script(src="js/main.js")
//endbuild
