// HEADER :: START
.header
  .container
    .row
      .col.col--auto
        .header__wrapper
          a(href='#')
            i.ico.ico-logo
              
          .header__menu
            a(href='#') Sign In
            a(href='#').btn.btn--ghost.btn--ghost--white Register
